# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Power BI temporary files
*.tmp